<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Gethere.css">
  <title> Gethere123</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <h1><center> Gethere </h1></center>
    <center><i class="fa fa-car"></i></center>
    <div class= "topnav">
    <ul>
      <li><a href="/">Home</li></a>
      <li><a href="/friends">Friends</li></a>
      <li><a href="/discover">Discover More</li></a>
    </ul>
    </div>
      <img src= "/images/maps101.jpg" width= "1895" height="350"/>
    <form method ="post" action = "">
      <h4><center> Enter location : <input type ="text" name="o_address"/></center></h4>
      <h4><center> Where to : <input type ="text" name="d_address" /></center></h4>
      <h4><center><input type="submit" value ="submit"/></center></h4>
    </form>
  </body>
</html>
