<html>
<head>
  <link rel="stylesheet" href="/stylesheets/Gethere.css">
</head>
  <body>
    <h1><center>Invite Friends</center></h1>
    <div class= "topnav3">
      <ul>
        <li><a href="/">Home</li></a>
        <li><a href="/friends">Friends</li></a>
        <li><a href="/discover">Discover More</li></a>
      </ul>
    </div>
      <p1>We'll get you there on time with the right price!</p1>
    <div class="clearfix">
      <div class= "column menu">
</div>
    <div class="floating-box"><center> Gethere allows you to connect with friends, through gaining access to your</br> favorite social websites.
    Invite frineds to have a ride and reveal your location for a quick pick up.</div></center>
    <img src="/images/social-media.jpg" width="1000" height="500"/>
    <a href="https://www.facebook.com/"target="_blank"> Facebook</a>
    <a href="https://www.instagram.com/?hl=en"> Instagram</a>
    <a href="https://twitter.com/"> Twitter</a>

</body>
</html>
